.BarStyle {
  background-color: #fee8df;
  border-radius: 5px;
  box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.3);
  border-style: none;
  color: #45437f;
  text-align: left;
  padding: 5px;
  cursor: pointer;
  transition: 150ms ease-in-out;
}
#submitCity {
  margin-left: 5px;
}
.iconLocation {
  font-size: 28px;
  position: relative;
  top: 4px;
  left: 11px;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

::placeholder {
  font-size: 14px;
  color: #5e618f;
  padding-left: 5px;
}
#submitCity:hover {
  background-color: #32bfb9;
  color: #fee8df;
}
.iconLocation:hover {
  color: #32bfb9;
}
